<ol>
  <li> <a href="https://www.amazon.com/Cuisinart-DBM-8-Supreme-Grind-Automatic/dp/B00018RRRK/ref=pd_rhf_se_p_img_15?_encoding=UTF8&psc=1&refRID=HTCFGN2RTV2GZZPEMYCB" target="_blank">Supreme Grind</a></li> 

<li> <a href="https://www.amazon.com/Bormioli-Rocco-Hermetic-Pitcher-Homemade/dp/B0131EKHO0/ref=pd_rhf_se_p_img_14?_encoding=UTF8&psc=1&refRID=HTCFGN2RTV2GZZPEMYCB" target="_blank">Seal Glass Pitcher</a></li> 

<li> <a href="https://www.amazon.com/Grinder-Trofoty-Stainless-Adjustable-Ceramic/dp/B07WMRK653/ref=pd_rhf_se_p_img_13?_encoding=UTF8&psc=1&refRID=HTCFGN2RTV2GZZPEMYCB" target="_blank">Salt and Pepper Grinder</a></li> 

<li> <a href="https://www.amazon.com/Takeya-Infusion-Blueberry-BPA-Free-Vegetable/dp/B00CYAIS0I/ref=pd_rhf_se_p_img_8?_encoding=UTF8&psc=1&refRID=HVDA7S8QDHNT2XHEVY1E" target="_blank">Infuser Pitcher</a></li> 

<li> <a href="https://www.amazon.com/Ceramic-Pitcher-Carafe-Painted-Bottle/dp/B08JGR4TVL/ref=pd_rhf_se_p_img_12?_encoding=UTF8&psc=1&refRID=HTCFGN2RTV2GZZPEMYCB" target="_blank">Fox Ceramic Water Pitcher</a></li> 

<li> <a href="https://www.amazon.com/Nicewell-Digital-Graduation-Stainless-Tempered/dp/B07S6F6LHQ/ref=pd_rhf_se_p_img_11?_encoding=UTF8&psc=1&refRID=HTCFGN2RTV2GZZPEMYCB" target="_blank">Digital Kitchen Scale Weight </a></li> 

<li> <a href="https://www.amazon.com/KitchenAid-KSMPEXTA-Gourmet-Attachment-Interchangeable/dp/B01ENK4UV2/ref=pd_rhf_se_p_img_10?_encoding=UTF8&psc=1&refRID=HTCFGN2RTV2GZZPEMYCB" target="_blank">Pasta Press </a></li> 

<li> <a href="https://www.amazon.com/Godinger-Decanter-Carafe-Blown-Aerator/dp/B07VZXHSMD/ref=pd_rhf_se_p_img_9?_encoding=UTF8&psc=1&refRID=HTCFGN2RTV2GZZPEMYCB" target="_blank">Wine Decanter Carafe</a></li> 

<li> <a href="https://www.amazon.com/Storage-Kitchen-Airtight-Organization-Perfect/dp/B0893WYJ9K/ref=pd_di_sccai_7?pd_rd_w=0Gvv1&pf_rd_p=c9443270-b914-4430-a90b-72e3e7e784e0&pf_rd_r=03K659FTQ3J3FEA48ATS&pd_rd_r=f13de3b4-85ca-4ab9-bfe9-ac7c22a36a14&pd_rd_wg=fEcRQ&pd_rd_i=B0893WYJ9K&psc=1" target="_blank">Plastic Food Storage </a></li> 

<li> <a href="https://www.amazon.com/M-MAX-Dinnerware-Durable-Ceramic-YUN-Blue-2/dp/B0888434YC/ref=sr_1_14_sspa?_encoding=UTF8&c=ts&dchild=1&keywords=Dinnerware+Sets&qid=1614112656&s=kitchen&sr=1-14-spons&ts_id=367146011&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUExSUNUV0NLR0lNTTJIJmVuY3J5cHRlZElkPUEwNDc2NTM2Mkg4WEdDMVBTQjJGRyZlbmNyeXB0ZWRBZElkPUEwNTA5NTUyMjEyRThZTklMM09LSSZ3aWRnZXROYW1lPXNwX210ZiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=" target="_blank">Durable Ceramic Dinner  </a></li> 


  
  
  </ol>