html {
	height: 100%;
}
body {
	font-family: 'Helvetica', 'Arial', sans-serif;
	background: rgb(218, 181, 228);

}

h1 {
	text-align: center;
    color: #6214757e;
    font-size: 60px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 10px;
    font-style: italic;
}

#todo {
	margin: auto;
	width: 50%;
	max-width: 800px;
	background: white;
    box-shadow: 0px 4px 12px -9px black;
    border-radius: 6px;
    max-height: 70vh;
    overflow: auto;
}

#todo::-webkit-scrollbar {
    width: 4px;
}
 
#todo::-webkit-scrollbar-thumb {
  background-color: #85d3cc;
  outline: 2px solid slategrey;
}

#list {
	width: 100%;
	padding: 0;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;   
	box-sizing: border-box;         
}

#list li:hover {
	background: rgba(113, 177, 177, 0.089);
}

#list li.item {
	display: flex;
	width: 100%;
	padding: 20px 30px 10px 30px;
    -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;         
}

#list li.item span {
    font-weight: 100;
    font-size: 24px;
	flex-grow: 1;
    color: #595959;
}

#list li a {
    padding: 10px;
    margin-top: -5px;
    cursor: pointer;
}

#list li.item i {
	color: #cecece;
}

#list li.item a:hover i {
	color: rgba(231, 6, 6, 0.925);
	transition: all 100ms linear;
}

input {
	padding: 10px;
    border-radius: 0px;
    border: none;
    background: #f6f4f4;
    border-bottom: 2px solid #e5e5e5;
    width: 100%;
    font-size: 30px;
    color: #696969;
    padding: 30px 45px;
    -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;       
}

::-webkit-input-placeholder {
	color: #bbb;
}


input#add-item:focus {
    border-bottom: 2px solid #a2c7ec;
    outline: none;
}

